---
import MainLayout from "../../layouts/MainLayout.astro";

// Component Imports
import PostCard from "../../components/PostCard.astro";

import { slugify, formatBlogPosts } from "../../js/utils";

export async function getStaticPaths() {
    return [
        {
            params: { category: slugify("Animação 2D") },
            props: { name: "Animação 2D" },
        },
        {
            params: { category: slugify("Animação 3D") },
            props: { name: "Animação 3D" },
        },
    ];
}

const { category } = Astro.params;
const { name } = Astro.props;

const allPosts = Object.values(
    import.meta.glob("../blog/*.md", { eager: true }),
);
const formattedPosts = formatBlogPosts(allPosts);
const catPosts = formattedPosts.filter(
    (post: any) => slugify(post.frontmatter.category) === category,
);
---

<MainLayout title={name}>
    <section class="container" aria-label={`Posts about ${name}`}>
        <h1 class="h1">
            Posts sobre <span>{name}</span>
        </h1>
        <div class="post-container">
            {
                catPosts.map((post: any) => (
                    <PostCard
                        frontmatter={post.frontmatter}
                        url={post.url}
                        tagType="h2"
                    />
                ))
            }
        </div>
    </section>
</MainLayout>
