---
import MainLayout from "../../layouts/MainLayout.astro";

// Component Imports
import PostCard from "../../components/PostCard.astro";

// Astro content collections import
import { getCollection } from "astro:content";

import { slugify, formatBlogPosts } from "../../js/utils";

export async function getStaticPaths() {
    const allPosts = await getCollection("blog");
    const formattedPosts = formatBlogPosts(allPosts);
    const allAuthors = [
        ...new Set(
            formattedPosts.map((post: any) => post.data.author).flat(),
        ),
    ];
    return allAuthors.map((author: any) => {
        const authorPosts = formattedPosts.filter(
            (post: any) => post.data.author === author,
        );
        return {
            params: { author: slugify(author) },
            props: { authorName: author, posts: authorPosts },
        };
    });
}

const { author } = Astro.params;
const { posts, authorName } = Astro.props;
---

<MainLayout title={authorName}>
    <section class="container" aria-label={`Posts about ${authorName}`}>
        <h1 class="h1">
            Posts by <span>{authorName}</span>
        </h1>
        <div class="post-container">
            {
                posts.map((post: any) => (
                    <PostCard
                        frontmatter={post.data}
                        url={`/blog/${post.id}/`}
                        tagType="h2"
                    />
                ))
            }
        </div>
    </section>
</MainLayout>
