---
// component imports
import { slugify, formatDate } from "../js/utils.js";

const { title, description, date, category, author, image, youtube } =
    Astro.props;
---

<header>
    <div class="container">
        <small>
            <a href={`/category/${slugify(category)}/`} class="badge"
                >{category}</a
            >
        </small>
        <hi class="h2">{title}</hi>
        <p>
            por <a href={`/author/${slugify(author)}/`}>{author}</a> • {
                formatDate(date)
            }
        </p>
    </div>
    <!-- <img src={image.src} width="800" alt={image.alt} /> -->
    <div class="video-container">
        <iframe
            class="responsive-video"
            src={`https://www.youtube.com/embed/${youtube}`}
            title="YouTube video player"
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            allowfullscreen></iframe>
    </div>
</header>
