---
// component imports
import { slugify, formatDate } from "../js/utils.js";
import { YouTube } from "astro-embed";

const { title, description, date, category, author, image, youtube, vimeo } =
    Astro.props;

const hasVideo = youtube || vimeo;
---

<header>
    <div class="container">
        <small>
            <a href={`/category/${slugify(category)}/`} class="badge"
                >{category}</a
            >
        </small>
        <h1 class="h2">{title}</h1>
        <p>
            por <a href={`/author/${slugify(author)}/`}>{author}</a> • {
                formatDate(date)
            }
        </p>
    </div>
    {
        hasVideo ? (
            <div class="video-container">
                {
                    youtube && (
                        <YouTube
                            id={youtube}
                            class="responsive-video"
                            posterQuality="maxresdefault"
                        />
                    )
                }
                {
                    vimeo && (
                        <iframe
                            class="responsive-video"
                            src={`https://player.vimeo.com/video/${vimeo}?color=f0603f&title=0&byline=0`}
                            frameborder="0"
                            allow="autoplay; fullscreen; picture-in-picture"
                            allowfullscreen
                        />
                    )
                }
            </div>
        ) : (
            image && image.src && (
                <img 
                    src={image.src} 
                    alt={image.alt || ""} 
                    class="hero-image" 
                    loading="eager" 
                    decoding="async" 
                    width="1200" 
                    height="675"
                />
            )
        )
    }
</header>
