---
import type { CollectionEntry } from "astro:content";
import { slugify, formatDate } from "../lib/utils";

interface Props {
    relatedPosts: CollectionEntry<"blog">[];
}

const { relatedPosts } = Astro.props;
---

{
    relatedPosts.map((post) => {
        const { title, author, date } = post.data;
        const url = `/blog/${post.id}/`;
        return (
            <div class="post">
                <h3 class="h4">
                    <a href={url}>{title}</a>
                </h3>
                <small>
                    <a href={`/author/${slugify(author)}/`}>
                        {author}
                    </a>{" "}
                    • {formatDate(date)}
                </small>
            </div>
        );
    })
}
