---
// component imports
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";

// component imports
const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout {title} {description}>
    <PostHeader {title} {description} {date} {category} {author} {image} />
    <div class="post-content">
        <div class="content">
            <slot />
        </div>
        <div class="side-bar"></div>
    </div>
</MainLayout>
