---
// component imports
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

// style imports
import "../styles/global.css";

const {
    title = "Café & TV",
    description = "Assista as melhores animações do mundo!",
    image,
    frontmatter,
    robots,
} = Astro.props;
---

<html lang="pt-br">
    <MainHead {title} {description} {image} {frontmatter} {robots} />
    <body>
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-X3V86449QF"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-X3V86449QF");
        </script>
        <!-- End of Google tag (gtag.js) -->
        <Nav />
        <main>
            <slot> Default text</slot>
        </main>
        <Footer />
    </body>
</html>
